

body{
    border: 1px solid black;
    padding: 10px;
}

main{
    display: grid;
    grid-template-areas: 'h h h''b cs j''f f f';
    grid-gap: 40px;
}

header{
    grid-area: h;
    text-align: center;
    border: 1px solid black;
}

article{
    display: flex;
    align-items: center;
}

#jobb{
    grid-area: j;
    border: 1px solid black;
}

#csonak{
    display: flex;
    grid-area: cs;
    background-color: aqua;
    border: 1px solid black;
    align-items: center;
    justify-content: left;
    position: relative;
    width: 100%;
}

#csonak .allatkep{
    position: absolute;
}

#csonakkep{
    width: 300px;
    height: auto;
}

.allatkep{
    width: 100px;
    height: auto;
}

#bal{
    grid-area: b;
    border: 1px solid black;
}

footer{
    grid-area: f;
}

footer p{
    background-color: aqua;
    text-align: center;
}

#bal img, #jobb img{
    width: 100px;
}

.kiemel{
    border: 2px solid red;
}